body
{
   background-color: #D2B48C;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#YouTube1
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#YouTube2
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
