body
{
   background-color: #D2B48C;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#YouTube1
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#YouTube2
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#YouTube3
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#YouTube4
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#YouTube5
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#YouTube7
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#wb_YouTube3
{
   position: absolute;
   left: 11px;
   top: 297px;
   width: 103px;
   height: 57px;
   z-index: 2;
}
#wb_YouTube4
{
   position: absolute;
   left: 11px;
   top: 204px;
   width: 103px;
   height: 57px;
   z-index: 3;
}
#wb_YouTube5
{
   position: absolute;
   left: 11px;
   top: 395px;
   width: 103px;
   height: 57px;
   z-index: 4;
}
#wb_YouTube7
{
   position: absolute;
   left: 11px;
   top: 492px;
   width: 103px;
   height: 57px;
   z-index: 5;
}
#wb_YouTube1
{
   position: absolute;
   left: 11px;
   top: 15px;
   width: 103px;
   height: 57px;
   z-index: 0;
}
#wb_YouTube2
{
   position: absolute;
   left: 11px;
   top: 110px;
   width: 103px;
   height: 57px;
   z-index: 1;
}
@media only screen and (max-width: 119px) and (orientation: portrait)
{
body
{
   background-color: #D2B48C;
   background-image: none;
}
#wb_YouTube1
{
   left: 11px;
   top: 15px;
   width: 103px;
   height: 57px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube2
{
   left: 11px;
   top: 110px;
   width: 103px;
   height: 57px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube3
{
   left: 128px;
   top: 15px;
   width: 103px;
   height: 57px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube4
{
   left: 11px;
   top: 204px;
   width: 103px;
   height: 57px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube5
{
   left: 128px;
   top: 110px;
   width: 103px;
   height: 57px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_YouTube7
{
   left: 128px;
   top: 204px;
   width: 103px;
   height: 57px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
